.gunpowder-center {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  background-image: url("../images/table.jpeg");
  position: relative;
}

.utiage-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.75rem 0.25rem;
}
