.container {
  height: 100vh;
  /*position: relative;*/
  background-color: rgba(0, 0, 0, 0);
}

.button-block {
  display: flex;
  justify-content: center;
}
button {
  margin: 1rem;
}

.score {
  background: rgba(255, 255, 255, 1);
  /* color: white;*/
  color: black;
  height: 100%;
  padding: 0.75rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-card {
  margin-top: 35vh;
  height: 200px;
  display: flex;
  justify-content: center;
}
