.container {
  height: 100vh;
  /*position: relative;*/
  background-color: rgba(0, 0, 0, 0);
}

.button-block {
  display: flex;
  justify-content: center;
}
button {
  margin: 1rem;
}

.score {
  background: rgba(255, 255, 255, 0.35);
  color: white;
  /*color: black;*/
  height: 100%;
  padding: 0.75rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-card {
  margin-top: 15vh;
  height: 500px;
  display: flex;
  justify-content: center;
}

.nomal-button {
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #2a3b99;
  border-radius: 100vh;
}

.twitter-button {
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #00e1ff;
  border-radius: 100vh;
}
